<div class="container-fluid intro" id="about">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="chain">SpaceJobs.US</h1>
			<p class="text-intro">SpaceJobs is a small group of people who believe that we need to get to space. We believe it so firmly, that this site is free to use and generates no revenue from your visit (no ad-revenue, no kick-backs on hires, nothing!). <br><br>

			Our goal is to get anyone with an interest in Space a job in the industry. For us, this stretches beyond the engineers and scientists (don't worry, you folks are still covered!), as we wanted to connect media creators, administrative support, and business professionals, to one of the many space agencies in America! To do this, we gathered as much of the useful Internet that we could, and brought it here for you. <br><br>

			SpaceJobs being a community effort, the full source code for the website is <a href="https://github.com/elburz/spacejobs">hosted on GitHub</a> where anyone with a passion for Space is free to join our team and contribute to the project. 
			</p>
		</div>
	</div>
</div>


