<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SpaceJobs.US - The easiest way to find a career in the Space Industry</title>
        <meta name="keywords" content="space, jobs, job, space-careers, aerospace recruitment, 
        nasa employment, careers in space, jobs in space, space carrers, aerospace, virgin galactic,
        aerospace employment, space jobs, spacejobs, space vacancies, space industry, 
        space recruitment, aerospace jobs, space careers, nasa jobs, job board" />
        <meta name="description" content="The most streamlined way to find 
        work in the Space Industry across all disciplines with no logins, 
        sign ups, or pay walls. Just easy to search jobs!">

	<!-- google analytics code -->
	<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-46862645-6', 'auto');
  	ga('send', 'pageview');
	</script>

        <!-- Bootstrap -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/queries.css') }}" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.responsive.css') }}">
        

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>
    <body>
 		<header>
            <div class="hero">
            </div>
		</header>
            {% include 'about.html' %}
        <section class="sign_up" id="signUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 sign-up">
                        <h2 class="logo-header">Subscribe for weekly updates!</h2>
                        <form name="signup-form" action="//spacejobs.us10.list-manage.com/subscribe/post?u=1a7c33d69e39a7c3f5bd9befa&amp;id=d0cd11b42f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <input id="mce-EMAIL" class="signup-input" type="email" name="EMAIL" value="" placeholder="enter your email..." title="Please enter a valid email address." required>
                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit-btn">GO</button>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        {% block content %} 
        {% endblock %}
        <footer id="contact">
            <div class="container">
                <div class="row" name="contact">
                    <div class="col-md-4 footer-leftcol">
                        <p><span class="bold-16p">SpaceJobs</span><br>
                            25 The Esplanade<br>
                            Toronto, ON, Canada M5E1W5<br>
                            <a href="#">spacejobs.us@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- launch datatables -->
        <script>
        //actual table setup 
        $(document).ready(function() {
            var table = $('#jobresults').DataTable({
                responsive: {
                    details: {
                        type: 'column',
                        target: 'tr'
                    }
                },

                columns: [{
                    "data": "",
                    className: "control"
                }, {
                    "data": "term",
                    className: "all none"
                }, {
                    "data": "location"
                }, {
                    "data": "jobposition",
                    className: "all"
                }, {
                    "data": "department",
                    className: "none"
                }, {
                    "data": "agency"
                }, {
                    "data": "dateposted",
                    className: "none"
                }, {
                    "data": "link",
                    className: "none"
                }],
                order: [
                    [6, "desc"]
                ],
                orderClasses: false,
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: 0
                }],
                displayLength: 50,
                drawCallback: function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;

                    api.column(6, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5" style="font-weight:600;background-color: #ddd;">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                },
            });

        });
        </script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    </body>
</html>
