{% extends "base.html" %}
{% block content %}

<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="chain">Find a job and help get to Space!</h1>
			<table id="scrapedresults" class="display responsive" width="100%">
				<thead>
					<tr>
						<th></th>
						<th> Term </th>
						<th> Location </th>
						<th> Position </th>
						<th> Department </th>
						<th> Agency </th>
						<th> Date Added </th>
						<th> Link </th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th></th>
						<th> Term </th>
						<th> Location </th>
						<th> Position </th>
						<th> Department </th>
						<th> Agency </th>
						<th> Date Added </th>
						<th> Link </th>
					</tr>
				</tfoot>
				<tbody>
				{% for listing in jobPostings %}
					<tr>
						<td></td>
						<td> {{listing.term}} </td>
						<td> {{listing.location}} </td>
						<td> {{listing.jobposition}} </td>
						<td> {{listing.department}} </td>
						<td> {{listing.agency}} </td>
						<td> {{listing.dateposted}} </td>
						<td> <a href={{listing.link}}>Apply by clicking here!</a> </td>
					</tr>
				{% endfor %}
				</tbody>
				
			</table>
			<!--
			<h1 class="chain">Search Our Full Database</h1>

			<form name="job_search" method="post">
					<div class="form-group">
						<div class="col-sm-5 col-md-offset-1">
							<label for="SearchBy">Search by</label>
							<select class="form-control" id="SearchBy" name="searchby">
							  <option>Term</option>
							  <option>Location</option>
							  <option>Job Position</option>
							  <option>Department</option>
							  <option>Agency</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-5 col-md-offset-1">
							<label for="Term">Search term</label>
							<input type="text" class="form-control" name="term" id="Term" placeholder="Enter Search Term" required>
						</div>
					</div>
					
					<div class="col-sm-5 col-md-offset-1" style="padding: 20px 15px">
						<button type="submit" name="submit" class="btn btn-default" value="search_submit" required>Search</button>
					</div>
			</form>-->
		</div>
	</div>
</div>
{% endblock %}