{% extends "base.html" %}
{% block content %}


<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="chain">Find a job and get to Space</h1>
			<table id="jobList" class="table">
				<thead>
					<tr>
						<th>Position</th>
						<th>Agency</th>
						<th>Description</th>
						<th>Location</th>
						<th>Term</th>
						<th>Date Added</th>
						<th>Link</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Position</th>
						<th>Agency</th>
						<th>Description</th>
						<th>Location</th>
						<th>Term</th>
						<th>Date Added</th>
						<th>Link</th>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td>Tester</td>
						<td>My company</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>Fort something, USA</td>
						<td>Part time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>		
					</tr>
					<tr>
						<td>Programmer</td>
						<td>Another entity</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>SHanghai, Peoples Republic of China</td>
						<td>Full time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>
					</tr>
					<tr>
						<td>Tester</td>
						<td>My company</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>Fort something, USA</td>
						<td>Part time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>		
					</tr>
					<tr>
						<td>Programmer</td>
						<td>Another entity</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>SHanghai, Peoples Republic of China</td>
						<td>Full time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>
					</tr>
					<tr>
						<td>Tester</td>
						<td>My company</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>Fort something, USA</td>
						<td>Part time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>		
					</tr>
					<tr>
						<td>Programmer</td>
						<td>Another entity</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>SHanghai, Peoples Republic of China</td>
						<td>Full time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>
					</tr>
					<tr>
						<td>Tester</td>
						<td>My company</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>Fort something, USA</td>
						<td>Part time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>		
					</tr>
					<tr>
						<td>Programmer</td>
						<td>Another entity</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>SHanghai, Peoples Republic of China</td>
						<td>Full time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>
					</tr>
					<tr>
						<td>Tester</td>
						<td>My company</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>Fort something, USA</td>
						<td>Part time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>		
					</tr>
					<tr>
						<td>Programmer</td>
						<td>Another entity</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>SHanghai, Peoples Republic of China</td>
						<td>Full time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>
					</tr>
					<tr>
						<td>Tester</td>
						<td>My company</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>Fort something, USA</td>
						<td>Part time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>		
					</tr>
					<tr>
						<td>Programmer</td>
						<td>Another entity</td>
						<td>This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job This job </td>
						<td>SHanghai, Peoples Republic of China</td>
						<td>Full time</td>
						<td>2015-02-23</td>
						<td>http://www.w3schools.com/html/html_tables.asp</td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
</div>
{% endblock %}