{% extends "base.html" %}
{% block content %}

<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="chain">Find a job and help get to Space!</h1>
			<table id="jobresults" class="display responsive table table-striped table-bordered" width="100%">
				<thead>
					<tr>
						<th></th>
						<th> Term </th>
						<th> Location </th>
						<th> Position </th>
						<th> Department </th>
						<th> Agency </th>
						<th> Date Added </th>
						<th> Link </th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th></th>
						<th> Term </th>
						<th> Location </th>
						<th> Position </th>
						<th> Department </th>
						<th> Agency </th>
						<th> Date Added </th>
						<th> Link </th>
					</tr>
				</tfoot>
				<tbody>
				{% for listing in jobPostings %}
					<tr>
						<td></td>
						<td> {{listing.term}} </td>
						<td> {{listing.location}} </td>
						<td> {{listing.jobposition}} </td>
						<td> {{listing.department}} </td>
						<td> {{listing.agency}} </td>
						<td> {{listing.dateposted}} </td>
						<td> <a href={{listing.link}}>Apply by clicking here!</a> </td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" style="padding: 40px 0px 0px 0px">
		<div class="col-md-8 col-md-offset-2">
      		<h1 class="chain">WOULD YOU LIKE TO SUBMIT A JOB?</h1>
                <form method="post" name="job_post">
                    <div class="form-group" style="padding: 20px 0px">
                        <div class="col-sm-4"><label for="JobPosition">Job Position</label><input required="" placeholder="Enter Job Position" name="jobposition" id="JobPosition" class="jobsubmit-input" type="text"></div>

                        <div class="col-sm-4"><label for="Department">Department</label><input required="" placeholder="Enter Department" name="department" id="Department" class="jobsubmit-input" type="text"></div>
                      
                      <div class="col-sm-4"><label for="Location">Location</label><input required="" placeholder="Enter Location" id="Location" class="jobsubmit-input" name="location" type="text"></div>
                    </div>

                    <div class="form-group" style="padding: 60px 0px">
                        <div class="col-sm-4"><label for="Agency">Agency</label><input required="" placeholder="Enter Agency" id="Agency" class="jobsubmit-input" name="agency" type="text"></div>
                        <div class="col-sm-4"><label for="Term">Term</label><input required="" placeholder="Enter Term" id="Term" name="term" class="jobsubmit-input" type="text"></div>

                        <div class="col-sm-4"><label for="ApplicationLink">Application Link</label><input required="" placeholder="Enter Application Link" id="ApplicationLink" class="jobsubmit-input" name="link" type="text"></div>
                    </div>

                    <div style="padding: 20px 15px" class="col-sm-4 col-sm-offset-4">
                    	<button required="" value="job_submit" class="jobsubmit-btn center-block" name="submit" type="submit">Submit</button>
                    </div>
                </form>
    	</div>
	</div>
</div>
{% endblock %}
