{% extends "base.html" %}
{% block content%}

<div class="container-fluid" style="background-color: #f4f5fc">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
            <h1 class="chain">WOULD YOU LIKE TO SUBMIT A JOB?</h1>
                <div class="col-sm-4 col-sm-offset-4" style="padding: 20px 15px">
                    <a class="typeform-share link jobsubmit-btn" href="https://elburz.typeform.com/to/w6J6NX" data-mode="1" target="_blank">Use our job submission form!</a>
                    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
                </div>
        </div>
	</div>
</div>
{% endblock %}