{% extends "base.html" %}
{% block content%}

<div class="container-fluid" style="background-color: #f4f5fc">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="chain">GOT A JOB TO SUBMIT?</h1>
			<p class="text-intro">
				<form name="job_post" method="post">
					<div class="form-group">
						<div class="col-sm-5 col-md-offset-1"><label for="JobPosition">Job Position</label><input type="text" class="form-control" id="JobPosition" name="jobposition" placeholder="Enter Job Position"></div>

						<div class="col-sm-5"><label for="Department">Department</label><input type="text" class="form-control" id="Department" name="department" placeholder="Enter Department"></div>
					</div>

					<div class="form-group">
						<div class="col-sm-5 col-md-offset-1"><label for="Location">Location</label><input type="text" name="location" class="form-control" id="Location" placeholder="Enter Location"></div>

						<div class="col-sm-5"><label for="Agency">Agency</label><input type="text" name="agency" class="form-control" id="Agency" placeholder="Enter Agency"></div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-5 col-md-offset-1"><label for="Term">Term</label><input type="text" class="form-control" name="term" id="Term" placeholder="Enter Term"></div>

						<div class="col-sm-5"><label for="ApplicationLink">Application Link</label><input type="text" name="link" class="form-control" id="ApplicationLink" placeholder="Enter Application Link"></div>
					</div>
					
					<div class="col-sm-5 col-md-offset-1" style="padding: 20px 15px">
					<button type="submit" name="submit" class="btn btn-default" value="job_submit">Submit</button>
					</div>
				</form>
			</p>
		</div>
	</div>
</div>
{% endblock %}